.stars {
  display: flex;
  color: var(--color-warning-300);
}

.overStar {
  color: var(--color-warning-300);

  &:hover {
    color: var(--color-warning-500);
  }
}

.starItem {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 0;

  background: none;
  border: none;
}
