.answerCover {
  width: 100%;
  height: 120px;
  margin: 12px 0;
  border-radius: 4px;
}

.img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  margin-top: 0.75rem;
  margin-bottom: 0.813rem;
}

.radioGroup {
  margin-bottom: 1.5rem;
}
