@mixin checkbox {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;

  width: 36px;
  height: 36px;

  border-radius: 100px;
}

.checkbox {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: inherit;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &:active::after {
    @include checkbox;

    background-color: var(--color-dark-500);
  }

  &:enabled:focus::after {
    @include checkbox;

    background-color: var(--color-dark-100);
  }

  &:enabled:hover::after {
    @include checkbox;

    background-color: var(--color-dark-500);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-100);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-dark-100);
  }
}

.indicator {
  width: 24px;
  height: 24px;
}

.label {
  display: flex;
  gap: 8px;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}