.card {
  max-width: 420px;
  padding: 33px 36px 29px;

  > h1 {
    text-align: center;
  }
}

.checkbox {
  margin: 12px 0;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 66px;
  text-decoration: none;
}

.textField {
  margin-top: 24px;
}

.noAccount {
  margin-top: 20px;
  color: var(--color-light-900);
  text-align: center;
}

.signUpLink {
  display: flex;
  justify-content: center;

  margin-top: 11px;

  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-line: underline;
}