.content {
  height: 1rem;
}

.loader {
  position: absolute;

  display: inline-block;

  box-sizing: border-box;
  width: 0;
  height: 3.8px;

  background: var(--color-warning-300);
  box-shadow: 0 0 10px rgb(255 255 255 / 50%);

  animation: progress-bar-animation 8s linear infinite;

  &::after,
  &::before {
    content: '';

    position: absolute;
    top: 9px;
    right: -2px;
    transform: rotate(-45deg) translateX(0);

    box-sizing: border-box;
    width: 10px;
    height: 1px;

    opacity: 0;
    background: #fff;

    animation: blink-animation-1 0.3s linear infinite;
  }

  &::before {
    top: -4px;
    transform: rotate(45deg);
    animation: blink-animation-2 0.3s linear infinite;
  }
}

@keyframes progress-bar-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-animation-1 {
  0% {
    transform: rotate(-45deg) translateX(0);
    opacity: 0.7;
  }

  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes blink-animation-2 {
  0% {
    transform: rotate(45deg) translateX(0);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}