.card {
  display: flex;
  align-items: center;
  max-width: 420px;
  padding: 33px 36px 29px;

  > h1 {
    margin-bottom: 27px;
    text-align: center;
  }
}

.icon {
  margin-bottom: 15px;
}

.description {
  margin-bottom: 65px;
  line-height: var(--line-height-m);
  text-align: center;
}

.signInLink {
  width: 348px;
  margin-bottom: 18px;
  padding: 6px 28px;

  text-align: center;
  text-decoration: none;

  background: var(--primary-500, #8C61FF);
  border-radius: 4px;
}
