.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  max-width: 420px;
  padding: 33px 36px 30px;

  > h1 {
    margin-bottom: 27px;
    text-align: center;
  }
}

.icon {
  margin-bottom: 15px;
}

.description {
  margin-bottom: 65px;
  line-height: var(--line-height-m);
  text-align: center;
}

.button {
  margin-bottom: 20px;
}
