.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 33px 36px 29px;

  > h1 {
    margin-bottom: 27px;
    text-align: center;
  }
}

.icon {
  margin-bottom: 15px;
}

.description {
  margin-bottom: 65px;
  line-height: var(--line-height-m);
  text-align: center;
}

.button {
  margin-bottom: 20px;
}
