.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  max-width: 420px;
  padding: 33px 36px 60px;

  > h1 {
    margin-bottom: 27px;
    text-align: center;
  }
}

.textField {
  margin-top: 24px;
}

.description {
  margin-top: 19px;
  margin-bottom: 35px;
}
