.card {
  max-width: 420px;
  padding: 33px 36px 29px;

  > h1 {
    text-align: center;
  }
}

.textField{
  margin-top: 24px;
}

.registerAccountButton{
  margin-top: 60px;
}

.accountCreated {
  margin-top: 15px;
  text-align: center;
}

.signInLink {
  display: flex;
  justify-content: center;

  margin-top: 7px;

  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-line: underline;
}
