.card {
  max-width: 420px;
  padding: 33px 36px 29px;

  > h1 {
    text-align: center;
  }
}

.textField{
  margin-top: 24px;
}

.registerAccountButton{
  margin-top: 60px;
}

.accountCreated {
  margin-top: 20px;
  text-align: center;
}

.link {
  color: var(--color-accent-500);
  text-decoration: underline;
}
