.card {
  max-width: 420px;
  padding: 33px 36px 29px;

  > h1 {
   margin-bottom: 27px;
    text-align: center;
  }
}

.textField{
  margin-top: 24px;
}

.description{
  margin-top: 19px;
}

.forgotPasswordButton{
  margin-top: 65px;
}

.question {
  margin-top: 20px;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;

  margin-top: 11px;

  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
  text-decoration-line: underline;
}
