.container {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;

  .controlTextField {
    margin-right: 1.5rem;
  }

  .controlSlider {
    margin-left: 4.563rem;
  }

  .controlButton {
    display: inline-flex;
    margin-left: 25px;
  }
}
