.backArrow {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 6px;
  align-items: center;

  width: fit-content;
  margin-top: 24px;
  margin-bottom: 33px;

  &:hover {
    text-decoration: underline;
  }
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 33px 35px;

  text-align: center;
}

.avatar {
  margin-top: 27px;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

.editAvatar {
  cursor: pointer;

  position: absolute;
  top: 5.3rem;
  left: 12.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  background: var(--color-dark-300);
  border-radius: 0.25rem;
}

.formFileInput {
  height: 16px;
}

.name {
  display: flex;
  gap: 0.563rem;
  align-items: center;
  margin: 6px auto;

  .editIcon {
    cursor: pointer;
  }
}

.email {
  color: var(--color-dark-100);
}

.verify {
  margin-top: 20px;
}

.logoutBtn {
  margin-top: 20px;
}

.saveBtn {
  margin-top: 36px;
}
