.RadioButtonContainer {
  display: flex;
  align-items: center;

  .RadioGroupItem {
    cursor: pointer;

    width: 16px;
    height: 16px;

    background: transparent;
    border: 2px solid var(--color-accent-500);
    border-radius: 100%;

    &:focus-within {
      background: var(--color-dark-500);
      box-shadow: 0 0 0 8px var(--color-dark-500);
    }

    &:hover {
      box-shadow: 0 0 0 8px var(--color-dark-500);
    }

    &:active {
      background: var(--color-accent-900);
      box-shadow: 0 0 0 8px var(--color-accent-900);
    }

  }

  .RadioGroupIndicator {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    &::after {
      content: '';

      display: block;

      width: 11px;
      height: 11px;

      background-color: var(--color-accent-500);
      border-radius: 50%;
    }
  }
  
  .label {
    padding-left: 15px;
    font-size: 15px;
    line-height: 1;
    color: white;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

